services:
  # Database service
  mongo:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  # Backend service
  backend:
    build: ./backend
    container_name: mern-backend
    ports:
      - "5001:5001"
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - .env
    restart: always
    depends_on:
      - mongo

  # Frontend service
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: mern-frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo-data:
